<div>
  <h2 id="page-heading" data-cy="StepHeading">
    <span>Steps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-step"
        [routerLink]="['/step/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Step </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="steps?.length === 0">
    <span>No steps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="steps && steps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Label</span></th>
          <th scope="col"><span>Step Definition Id</span></th>
          <th scope="col"><span>Display</span></th>
          <th scope="col"><span>Order</span></th>
          <th scope="col"><span>Course</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let step of steps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/step', step.id, 'view']">{{ step.id }}</a>
          </td>
          <td>{{ step.name }}</td>
          <td>{{ step.label }}</td>
          <td>{{ step.stepDefinitionId }}</td>
          <td>{{ step.display }}</td>
          <td>{{ step.order }}</td>
          <td>
            <div *ngIf="step.course">
              <a [routerLink]="['/course', step.course?.id, 'view']">{{ step.course?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/step', step.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/step', step.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(step)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
