<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-offer-composition-heading" data-cy="OfferCompositionCreateUpdateHeading">Create or edit a Offer Composition</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_inheritanceOrder">Inheritance Order</label>
          <input
            type="number"
            class="form-control"
            name="inheritanceOrder"
            id="field_inheritanceOrder"
            data-cy="inheritanceOrder"
            formControlName="inheritanceOrder"
          />
          <div
            *ngIf="
              editForm.get('inheritanceOrder')!.invalid &&
              (editForm.get('inheritanceOrder')!.dirty || editForm.get('inheritanceOrder')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('inheritanceOrder')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('inheritanceOrder')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_offer">Offer</label>
          <select class="form-control" id="field_offer" data-cy="offer" name="offer" formControlName="offer">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="offerOption.id === editForm.get('offer')!.value?.id ? editForm.get('offer')!.value : offerOption"
              *ngFor="let offerOption of offersCollection; trackBy: trackOfferById"
            >
              {{ offerOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_courseParent">Course Parent</label>
          <select class="form-control" id="field_courseParent" data-cy="courseParent" name="courseParent" formControlName="courseParent">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                courseDefinitionOption.id === editForm.get('courseParent')!.value?.id
                  ? editForm.get('courseParent')!.value
                  : courseDefinitionOption
              "
              *ngFor="let courseDefinitionOption of courseParentsCollection; trackBy: trackCourseDefinitionById"
            >
              {{ courseDefinitionOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_courseChild">Course Child</label>
          <select class="form-control" id="field_courseChild" data-cy="courseChild" name="courseChild" formControlName="courseChild">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                courseDefinitionOption.id === editForm.get('courseChild')!.value?.id
                  ? editForm.get('courseChild')!.value
                  : courseDefinitionOption
              "
              *ngFor="let courseDefinitionOption of courseChildrenCollection; trackBy: trackCourseDefinitionById"
            >
              {{ courseDefinitionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
