<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="stepDefinition">
      <h2 data-cy="stepDefinitionDetailsHeading"><span>Step Definition</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ stepDefinition.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ stepDefinition.name }}</span>
        </dd>
        <dt><span>Label</span></dt>
        <dd>
          <span>{{ stepDefinition.label }}</span>
        </dd>
        <dt><span>Display</span></dt>
        <dd>
          <span>{{ stepDefinition.display }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/step-definition', stepDefinition.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
